<!DOCTYPE html>
<html lang="en">
<head>
    <title>Angel Landmarks</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @using kd.Controllers
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    
    <!--Header-part-->
    <div id="header">
        <h1><a href='@Url.Action("Index", "Home")'>Angel Group of companies</a></h1>
    </div>    
    <!--close-Header-part-->
    <!--top-Header-menu-->
    <div id="user-nav" class="navbar navbar-inverse">
        <ul class="nav">
            <li class="dropdown" id="profile-messages">
                <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">Welcome User</span><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href='@Url.Action("Profile", "Home")'><i class="icon-user"></i> My Profile</a></li>
                    <li class="divider"></li>
                    <li><a href='@Url.Action("Logout", "Home")'><i class="icon-key"></i>Logout</a></li>
                </ul>
            </li>
            <li class="dropdown" id="menu-messages">
                <a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon-bell-alt"></i>
                <span class="text">Alarms</span> <span class="label label-important"> @HomeController.get_alarms() </span> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a class="sAdd" title="" href="@Url.Action("Alarms", "Home", new { page = "followup" })"><i class="icon-thumbs-up"></i>Follow Up</a></li>
                    <li class="divider"></li>
                    <li><a class="sInbox" title="" href="@Url.Action("Alarms", "Home", new { page = "paycommit" })"><i class="icon-time"></i>Paymet Commit</a></li>
                    <li class="divider"></li>
                    <li><a class="sOutbox" title="" href="@Url.Action("Alarms", "Home", new { page = "Cheque" })"><i class="icon-money"></i>Cheque</a></li>
                    <li class="divider"></li>
                </ul>
            </li>
        </ul>
    </div>
    <!--close-top-Header-menu-->
    <!--sidebar-menu-->
    <div id="sidebar">
        <a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
        <ul>
            <li class="submenu">
                <a href="#"><i class="icon icon-book"></i> <span>Enquiry Details</span></a>
                <ul>
                    <li><a href='@Url.Action("Index", "Home")'><i class="icon icon-sitemap"></i><span>Daily Enquiry</span></a></li>
                    <li><a href='@Url.Action("SiteVisit", "Home")'><i class="icon icon-home"></i><span>Site Visit</span></a></li>
                    <li><a href='@Url.Action("Followup", "Home")'><i class="icon icon-th"></i><span>Follow Up</span></a></li>
                </ul>
            </li>
            <li class="submenu">
                <a href="#"><i class="icon icon-book"></i> <span>Site Details</span></a>
                <ul>
                    <li><a href='@Url.Action("Sites", "Home")'><i class="icon icon-sitemap"></i><span>Sites</span></a></li>
                    <li><a href='@Url.Action("Flats", "Home")'><i class="icon icon-home"></i><span>Flats</span></a></li>
                    <li><a href='@Url.Action("Plots", "Home")'><i class="icon icon-th"></i><span>Plots</span></a></li>
                </ul>
            </li>
            <li><a href='@Url.Action("Executive", "Home")'><i class="icon icon-user"></i> <span>Executive</span></a> </li>
            <li><a href='@Url.Action("Franchies", "Home")'><i class="icon icon-inbox"></i> <span>Franchies</span></a> </li>

            <li class="submenu">
                <a href='@Url.Action("Customer", "Home")'><i class="icon icon-th"></i> <span>Customer</span></a>
                <ul>
                    <li><a href='@Url.Action("Customer", "Home")'><i class="icon icon-group"></i> <span>Customer</span></a></li>
                    <li><a href='@Url.Action("Customer_Sec", "Home")'><i class="icon icon-group"></i> <span>Customer_Sec</span></a></li>
                    <li><a href='@Url.Action("Booking", "Home")'><i class="icon icon-fullscreen"></i> <span>Booking</span></a></li>
                    <li><a href='@Url.Action("ExecutiveAudits", "Home")'><i class="icon icon-fullscreen"></i> <span>Exec/Fran Audit</span></a></li>
                    <li><a href='@Url.Action("PaymentCommit", "Home")'><i class="icon icon-tint"></i> <span>Payment Commitment</span></a></li>
                    <li><a href='@Url.Action("PaymentDetails", "Home")'><i class="icon icon-pencil"></i> <span>Payment Details</span></a></li>
                    <li><a href='@Url.Action("Agreement", "Home")'><i class="icon icon-pencil"></i> <span>Agreement Details</span></a></li>
                    <li><a href='@Url.Action("Finance", "Home")'><i class="icon icon-pencil"></i> <span>Finance</span></a></li>
                    <li><a href='@Url.Action("FileStatus", "Home")'><i class="icon icon-pencil"></i> <span>File Process Charges</span></a></li>
                </ul>
            </li>

            <li class="submenu">
                <a href="#"><i class="icon icon-book"></i> <span>Cost Sheets</span></a>
                <ul>
                    <li><a href='@Url.Action("CustomerCostSheet", "Home")'><i class="icon icon-book"></i><span>Customer Cost Sheet</span></a></li>
                    <li><a href='@Url.Action("BuilderCostSheet", "Home")'><i class="icon icon-book"></i><span>Builder Cost Sheet</span></a></li>
                </ul>
            </li>
            <li class="submenu">
                <a href="#"><i class="icon icon-file"></i> <span>Report</span></a>
                <ul>
                    <li><a href='@Url.Action("DailyReport", "Home")'><i class="icon icon-file"></i> <span>Daily Report</span></a></li>
                    <li><a href='@Url.Action("SiteReport", "Home")'><i class="icon icon-file"></i> <span>Site Report</span></a></li>
                    <li><a href='@Url.Action("CustomerReport", "Home")'><i class="icon icon-file"></i> <span>Customer Report</span></a></li>
                    <li><a href='@Url.Action("FinanceReport", "Home")'><i class="icon icon-file"></i> <span>Finance Report</span></a></li>
                    <li><a href='@Url.Action("FileStatusReport", "Home")'><i class="icon icon-file"></i> <span>File Processing Report</span></a></li>
                    <li><a href='@Url.Action("ExecutiveReport", "Home")'><i class="icon icon-file"></i> <span>Executive/Franchies Report</span></a></li>
                    <li><a href='@Url.Action("PaymentCommitReport", "Home")'><i class="icon icon-file"></i> <span>Payment Commitment Report</span></a></li>
                    <li><a href='@Url.Action("CostSheetReport", "Home")'><i class="icon icon-file"></i> <span>Cost Sheet Report</span></a></li>
                    <li><a href='@Url.Action("ProfitLossReport", "Home")'><i class="icon icon-file"></i> <span>Profit and Loss Report</span></a></li>
                    <li><a href='@Url.Action("MasterReport", "Home")'><i class="icon icon-file"></i> <span>Master Report</span></a></li>
                </ul>
            </li>
            <li><a href='@Url.Action("Dashboard", "Home")'><i class="icon icon-pencil"></i> <span>Backup</span></a></li>
        </ul>
    </div>
    <!--sidebar-menu-->
    <!--main-container-part-->
    <div id="content">
        @RenderBody()
    </div>
    <!--end-main-container-part-->
    <!--Footer-part-->

    <div class="row-fluid">
        <div id="footer" class="span12"> 2018 &copy; Angel Group of Companies</div>
    </div>

    <!--end-Footer-part-->

    <script type="text/javascript">
  // This function is called from the pop-up menus to transfer to
  // a different page. Ignore if the value returned is a null string:
  function goPage (newURL) {

      // if url is empty, skip the menu dividers and reset the menu selection to default
      if (newURL != "") {

          // if url is "-", it is this page -- reset the menu:
          if (newURL == "-" ) {
              resetMenu();
          }
          // else, send page to designated URL
          else {
            document.location.href = newURL;
          }
      }
  }

// resets the menu selection upon entry to this page:
function resetMenu() {
   document.gomenu.selector.selectedIndex = 2;
}
    </script>
</body>
</html>