@{
    ViewBag.Title = "Agreement";
}

@{
    var results = ViewBag.list;
    int? cnt = new int?();
    cnt = ViewBag.total;
    if (cnt == null)
    {
        cnt = 0;
    }
}

<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="~/Content/matrix-style.css" />
<link rel="stylesheet" href="~/Content/matrix-media.css" />
<link rel="stylesheet" href="~/Content/uniform.css" />
<link rel="stylesheet" href="~/Content/select2.css" />
<link href="~/fonts/gst_font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

<div id="content-header">
    <div id="breadcrumb"> <a href='@Url.Action("Dashboard", "Home")' title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href='@Url.Action("Aggrement", "Home")'>Add Agreement</a></div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-info-sign"></i> </span>
                    <h5>Add Agreement Details</h5>
                </div>
                <div class="widget-content nopadding">
                    <form method="post" action="@Url.Action("add_agreement","Home")" name="basic_validate" id="basic_validate" novalidate="novalidate">
                        <table class="table table-striped">
                            <tbody>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Agreement No</label></td>
                                    <td><input type="number" name="ano" id="required"></td>
                                    <td><label class="control-label">Agreement Date</label></td>
                                    <td> <input type="date" name="adate" id="required"></td>
                                    <td><label class="control-label">Agreement Amount</label></td>
                                    <td><input type="number" name="aamount" id="required"></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Notary Amount</label></td>
                                    <td><input type="number" name="anotary" id="required"></td>
                                    <td><label class="control-label">Adjustment Amount</label></td>
                                    <td> <input type="number" name="aadjustment" id="required"></td>
                                    <td><label class="control-label">Extra Amount</label></td>
                                    <td><input type="number" name="aextra" id="required"></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Agreement Status</label></td>
                                    <td><input type="text" name="astatus" id="required"></td>
                                    <td><label class="control-label">Customer Name</label></td>
                                    <td>
                                        <select name="bid" id="bid">    </select>
                                    </td>
                                    <td><input type="submit" value="Save" class="btn btn-success" /></td>
                                    <td><input type="reset" value="Cancel" class="btn btn-danger" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-th"></i></span>
                    <h5>All Agreement Details</h5>
                    <div class="select-site">
                        <h5>Booking Name</h5>
                        <div class="dataTables_length">
                            <select name="site_name" id="site_name" style="max-width:90%;">
                               <option value="Mangesh"> Mangesh</option>
                                <option value="Ramesh"> Ramesh</option>
                                <option value="Shivaji"> Shivaji</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="widget-content nopadding">
                    @Html.Partial("page_size")
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Agreement No</th>
                                <th>Agreement Amount</th>
                                <th>Agreement Date</th>
                                <th>Agreement Status</th>
                                <th>Booking Id</th>
                                <th>Modify</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < cnt; i++)
                            {
                                <tr class="gradeX">
                                    <td>@results[0][i]</td>
                                    <td>@results[3][i]</td>
                                    <td>@results[1][i]</td>
                                    <td>@results[2][i]</td>                                    
                                    <td>@results[4][i]</td>
                                    <td>@results[5][i]</td>
                                    <td align="center"><button class="btn btn-primary">Edit</button> <button class="btn btn-danger">Delete</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @Html.Partial("pagination")
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery.ui.custom.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/matrix.popover.js"></script>
<script src="~/Scripts/jquery.uniform.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/matrix.js"></script>
<script src="~/Scripts/matrix.tables.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/matrix.form_validation.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#page_size").change(function () {
            window.location = '@Html.Raw(@Url.Action("Agreement", "Home", new { ps = "id", search = "srch_str" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val());
        });
    });

    $(document).ready(function () {
        $("#search1").keydown(function (event) {
            if (event.keyCode == 13) {
                window.location = '@Html.Raw(@Url.Action("Agreement", "Home", new { ps = "id", search = "srch_str" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val());
            }
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: '@Url.Action("get_customer_booking_name", "Home")',
            data: {},
            dataType: 'json',
            success: function (d) {
                var list1 = d.id;
                var list = d.name;
                $("#bid").html("");
                $.each(list, function (index, value) {
                    $("#bid").append($('<option></option>').val(list1[index]).html(value));
                });
            },
            error: function (err) {
                alert(err.responseText);
            },
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#pagination_first").click(function () {
            window.location = '@Html.Raw(@Url.Action("First", "Home", new { page = "Agreement", ps = "id", search = "srch_str" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val());
        });
    });
    $(document).ready(function () {
        $("#pagination_previous").click(function () {
            window.location = '@Html.Raw(@Url.Action("Previous", "Home", new { page = "Agreement", ps = "id", search = "srch_str" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val());
        });
    });
    $(document).ready(function () {
        $("#pagination_next").click(function () {
            window.location = '@Html.Raw(@Url.Action("Next", "Home", new { page = "Agreement", ps = "id", search = "srch_str" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val());
        });
    });
    $(document).ready(function () {
        $("#pagination_last").click(function () {
            window.location = '@Html.Raw(@Url.Action("Last", "Home", new { page = "Agreement", ps = "id", search = "srch_str" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val());
        });
    });
</script>