@{
    ViewBag.Title = "Agreement";
}

@{
    var results = ViewBag.list;
    int? cnt = new int?();
    cnt = ViewBag.total;
    if (cnt == null)
    {
        cnt = 0;
    }
    var elist = ViewBag.edit_list;
    bool edit = false;
    if (ViewBag.edit_str == "edit")
    {
        edit = true;
    }
}

<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="~/Content/matrix-style.css" />
<link rel="stylesheet" href="~/Content/matrix-media.css" />
<link rel="stylesheet" href="~/Content/uniform.css" />
<link rel="stylesheet" href="~/Content/select2.css" />
<link href="~/fonts/gst_font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

<div id="content-header">
    <div id="breadcrumb"> <a href='@Url.Action("Index", "Home")' title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href='@Url.Action("Aggrement", "Home")'>Add Agreement</a></div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-info-sign"></i> </span>
                    <h5>Add Agreement Details</h5>
                </div>
                <div class="widget-content nopadding">
                    <form method="post" action="@Url.Action("add_agreement","Home")" name="basic_validate" id="basic_validate" novalidate="novalidate">
                        <table class="table table-striped">
                            <tbody>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Agreement No</label></td>
                                    <td><input type="number" name="ano" id="required" @(edit ? new { value = elist[3] } : null)></td>
                                    <td><label class="control-label">Agreement Date</label></td>
                                    <td> <input type="date" name="adate" id="required" @(edit ? new { value = @Convert.ToDateTime(elist[2]).ToString("yyyy-MM-dd") } : null)></td>

                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Agreement Amount</label></td>
                                    <td><input type="number" name="aamount" id="required" @(edit ? new { value = elist[1] } : null)></td>
                                    <td><label class="control-label">Notary Amount</label></td>
                                    <td><input type="number" name="anotary" id="required" @(edit ? new { value = elist[6] } : null)></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Adjustment Amount</label></td>
                                    <td> <input type="number" name="aadjustment" id="required" @(edit ? new { value = elist[7] } : null)></td>
                                    <td><label class="control-label">Extra Amount</label></td>
                                    <td><input type="number" name="aextra" id="required" @(edit ? new { value = elist[8] } : null)></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">GST Amount</label></td>
                                    <td><input type="number" name="gst" id="required" @(edit ? new { value = elist[9] } : null)></td>
                                    <td><label class="control-label">Agreement Status</label></td>
                                    <td><input type="text" name="astatus" id="required" @(edit ? new { value = elist[4] } : null)></td>
                                </tr>
                                @Html.Partial("booking_fk")
                                <tr class="odd gradeX">
                                    @if (edit)
                                    {
                                        <td><input type="submit" name="submit_btn" value="Update" class="btn btn-success" /></td>
                                        <td colspan="3"> <input type="submit" name="submit_btn" value="Cancel" class="btn btn-danger" /> </td>
                                        <td> <input type="hidden" name="edit_id" value=@elist[0] /> </td>
                                    }
                                    else
                                    {
                                        <td><input type="submit" name="submit_btn" value="Save" class="btn btn-success" /></td>
                                        <td colspan="3"> <input type="reset" value="Cancel" class="btn btn-danger" /> </td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            @if (!edit)
            {
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-th"></i></span>
                        <h5>All Agreement Details</h5>
                    </div>
                    <div class="widget-content nopadding">
                        @Html.Partial("page_size")
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Agreement No</th>
                                    <th>Agreement Amount</th>
                                    <th>Agreement Date</th>
                                    <th>Agreement Status</th>
                                    <th>Booking Id</th>
                                    @if (this.Session["role"].ToString() == "admin")
                                    {
                                        <th>Modify</th>
                                    }
                                    </tr>
                            </thead>
                            <tbody>
                                @for (var i = 0; i < cnt; i++)
                                {
                                <tr class="gradeX">
                                    <td>@results[0][i]</td>
                                    <td>@results[3][i]</td>
                                    <td>@results[1][i]</td>
                                    <td>@results[2][i]</td>
                                    <td>@results[4][i]</td>
                                    <td>@results[5][i]</td>
                                    @if (this.Session["role"].ToString() == "admin")
                                    {
                                        <td align="center">
                                            <button onclick="fun_edit(this);" value="@results[0][i]" class="btn btn-primary">Edit</button>
                                            <button onclick="fun_del(this);" value="@results[0][i]" class="btn btn-danger">Delete</button>
                                        </td>
                                    }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    @Html.Partial("pagination")
                </div>
            }
            </div>
    </div>
</div>

<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery.ui.custom.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/matrix.popover.js"></script>
<script src="~/Scripts/jquery.uniform.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/matrix.js"></script>
<script src="~/Scripts/matrix.tables.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/matrix.form_validation.js"></script>

<script type="text/javascript">
    function fun_del(obj)
    {
        if (confirm('Are you sure you want to delete this record?'))
        {
            window.location = '@Html.Raw(@Url.Action("delete_record", "Home", new { page = "Agreement", ps = "id", search = "srch_str", del_id = "delid" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val()).replace("delid", obj.value);
        }
    }

    function fun_edit(obj)
    {
        window.location = '@Html.Raw(@Url.Action("edit_record", "Home", new { page = "Agreement", ps = "id", search = "srch_str", edit_id = "editid" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val()).replace("editid", obj.value);
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#page_size").change(function () {
            window.location = '@Html.Raw(@Url.Action("Agreement", "Home", new { ps = "id", search = "srch_str" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val());
        });
    });

    $(document).ready(function () {
        $("#search1").keydown(function (event) {
            if (event.keyCode == 13) {
                window.location = '@Html.Raw(@Url.Action("Agreement", "Home", new { ps = "id", search = "srch_str" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val());
            }
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#pagination_first").click(function () {
            window.location = '@Html.Raw(@Url.Action("First", "Home", new { page = "Agreement", ps = "id", search = "srch_str" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val());
        });
    });
    $(document).ready(function () {
        $("#pagination_previous").click(function () {
            window.location = '@Html.Raw(@Url.Action("Previous", "Home", new { page = "Agreement", ps = "id", search = "srch_str" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val());
        });
    });
    $(document).ready(function () {
        $("#pagination_next").click(function () {
            window.location = '@Html.Raw(@Url.Action("Next", "Home", new { page = "Agreement", ps = "id", search = "srch_str" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val());
        });
    });
    $(document).ready(function () {
        $("#pagination_last").click(function () {
            window.location = '@Html.Raw(@Url.Action("Last", "Home", new { page = "Agreement", ps = "id", search = "srch_str" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val());
        });
    });
</script>

@{
    var message = TempData["AlertMessage"] ?? string.Empty;
}
<script type="text/javascript">
    var message = '@message';
    if(message)
        alert(message);
</script>