@{
    ViewBag.Title = "Booking";
}

@{
    var results = ViewBag.list;
    int? cnt = new int?();
    cnt = ViewBag.total;
    if (cnt == null)
    {
        cnt = 0;
    }
}

<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="~/Content/matrix-style.css" />
<link rel="stylesheet" href="~/Content/matrix-media.css" />
<link rel="stylesheet" href="~/Content/uniform.css" />
<link rel="stylesheet" href="~/Content/select2.css" />
<link href="~/fonts/gst_font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

<div id="content-header">
    <div id="breadcrumb"> <a href='@Url.Action("Dashboard", "Home")' title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href='@Url.Action("Booking", "Home")'>Add Booking</a></div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-info-sign"></i> </span>
                    <h5>Add Booking Details</h5>
                </div>
                <div class="widget-content nopadding">
                    <form method="post" action="@Url.Action("add_booking","Home")" name="basic_validate" id="basic_validate" novalidate="novalidate">
                        <table class="table table-striped">
                            <tbody>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Booking No</label></td>
                                    <td><input type="number" name="bno" id="required"></td>
                                    <td><label class="control-label">Referred By</label></td>
                                    <td> <input type="text" name="breferred" id="required"></td>
                                    <td><label class="control-label">Incentive Paid</label></td>
                                    <td><input type="number" name="bincentive" id="required"></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Total Incentive</label></td>
                                    <td><input type="number" name="bincome" id="required"></td>
                                    <td><label class="control-label">Flat Cancelled By</label></td>
                                    <td> <input type="text" name="bcancel" id="required"></td>
                                    <td><label class="control-label">Total Flat Amount</label></td>
                                    <td><input type="number" name="btamount" id="required"></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Received Amount</label></td>
                                    <td><input type="number" name="bramount" id="required"></td>
                                    <td><label class="control-label">Total Builder Received</label></td>
                                    <td> <input type="number" name="bblder" id="required"></td>
                                    <td><label class="control-label">Reserved Parking</label></td>
                                    <td>
                                        <select name="bparking" id="bparking" style="max-width:90%;">
                                            <option value="covered">Covered</option>
                                            <option value="open"> Open</option>
                                            <option value="no"> No</option>
                                        </select></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Internal Charges</label></td>
                                    <td><input type="number" name="bcharges" id="required"></td>
                                    <td><label class="control-label">Follow Up Date</label></td>
                                    <td> <input type="date" name="bfollowup" id="required"></td>
                                    <td><label class="control-label">Status</label></td>
                                    <td>
                                        <select name="bstatus" id="bstatus" style="max-width:90%;">
                                            <option value="active">Active</option>
                                            <option value="cancel">Cancel</option>
                                        </select>
                                    </td></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Remarks</label></td>
                                    <td><input type="text" name="bremark" id="required"></td>
                                    <td><label class="control-label">Site</label></td>
                                    <td> 
                                        <select name="bsite" id="bsite">    </select>
                                    </td>
                                    <td><label class="control-label">Flats</label></td>
                                    <td><input type="text" name="bflats" id="required"></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Applicant</label></td>
                                    <td>
                                        <select name="bapplicant" id="bapplicant">    </select>
                                    </td>
                                    <td><label class="control-label">Executive</label></td>
                                    <td> 
                                        <select name="bexecutive" id="bexecutive">    </select>
                                    </td>
                                    <td><label class="control-label">Franchies</label></td>
                                    <td>
                                        <select name="bfranchies" id="bfranchies">    </select>
                                    </td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><input type="submit" value="Save" class="btn btn-success" /></td>
                                    <td><input type="reset" value="Cancel" class="btn btn-danger" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-th"></i></span>
                    <h5>All Bookings</h5>
                </div>
                <div class="widget-content nopadding">
                    @Html.Partial("page_size")
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Booking No</th>
                                <th>Applicant Name</th>
                                <th>Site</th>
                                <th>Flat</th>
                                <th>Amount</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < cnt; i++)
                            {
                                <tr class="gradeX">
                                    <td>@results[0][i]</td>
                                    <td>@results[1][i]</td>
                                    <td>@results[16][i]</td>
                                    <td>@results[15][i]</td>
                                    <td>@results[19][i]</td>
                                    <td>@results[6][i]</td>
                                    <td align="center"><button class="btn btn-primary">Edit</button> <button class="btn btn-danger">Delete</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @Html.Partial("pagination")
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery.ui.custom.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/matrix.popover.js"></script>
<script src="~/Scripts/jquery.uniform.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/matrix.js"></script>
<script src="~/Scripts/matrix.tables.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/matrix.form_validation.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#page_size").change(function () {
            window.location = '@Html.Raw(@Url.Action("Booking", "Home", new { ps = "id", search = "srch_str" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val());
        });
    });

    $(document).ready(function () {
        $("#search1").keydown(function (event) {
            if (event.keyCode == 13) {
                window.location = '@Html.Raw(@Url.Action("Booking", "Home", new { ps = "id", search = "srch_str" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val());
            }
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: '@Url.Action("get_site", "Home")',
            data: {},
            dataType: 'json',
            success: function (d) {
                var list1 = d.id;
                var list = d.name;
                $("#bsite").html("");
                $.each(list, function (index, value) {
                    $("#bsite").append($('<option></option>').val(list1[index]).html(value));
                });
            },
            error: function (err) {
                alert(err.responseText);
            },
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: '@Url.Action("get_applicant", "Home")',
            data: {},
            dataType: 'json',
            success: function (d) {
                var list1 = d.id;
                var list = d.name;
                $("#bapplicant").html("");
                $.each(list, function (index, value) {
                    $("#bapplicant").append($('<option></option>').val(list1[index]).html(value));
                });
            },
            error: function (err) {
                alert(err.responseText);
            },
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: '@Url.Action("get_executive", "Home")',
            data: {},
            dataType: 'json',
            success: function (d) {
                var list1 = d.id;
                var list = d.name;
                $("#bexecutive").html("");
                $.each(list, function (index, value) {
                    $("#bexecutive").append($('<option></option>').val(list1[index]).html(value));
                });
            },
            error: function (err) {
                alert(err.responseText);
            },
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: '@Url.Action("get_franchies", "Home")',
            data: {},
            dataType: 'json',
            success: function (d) {
                var list1 = d.id;
                var list = d.name;
                $("#bfranchies").html("");
                $.each(list, function (index, value) {
                    $("#bfranchies").append($('<option></option>').val(list1[index]).html(value));
                });
            },
            error: function (err) {
                alert(err.responseText);
            },
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#pagination_first").click(function () {
            window.location = '@Html.Raw(@Url.Action("First", "Home", new { page = "Booking", ps = "id", search = "srch_str" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val());
        });
    });
    $(document).ready(function () {
        $("#pagination_previous").click(function () {
            window.location = '@Html.Raw(@Url.Action("Previous", "Home", new { page = "Booking", ps = "id", search = "srch_str" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val());
        });
    });
    $(document).ready(function () {
        $("#pagination_next").click(function () {
            window.location = '@Html.Raw(@Url.Action("Next", "Home", new { page = "Booking", ps = "id", search = "srch_str" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val());
        });
    });
    $(document).ready(function () {
        $("#pagination_last").click(function () {
            window.location = '@Html.Raw(@Url.Action("Last", "Home", new { page = "Booking", ps = "id", search = "srch_str" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val());
        });
    });
</script>