@{
    ViewBag.Title = "BuilderCostSheet";
}

@{
    var results = ViewBag.list;
    int? cnt = new int?();
    cnt = ViewBag.total;
    if (cnt == null)
    {
        cnt = 0;
    }
}

<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="~/Content/matrix-style.css" />
<link rel="stylesheet" href="~/Content/matrix-media.css" />
<link rel="stylesheet" href="~/Content/uniform.css" />
<link rel="stylesheet" href="~/Content/select2.css" />
<link href="~/fonts/gst_font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

<div id="content-header">
    <div id="breadcrumb"> <a href='@Url.Action("Dashboard", "Home")' title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href='@Url.Action("BuilderCostSheet", "Home")'>Builder Cost Sheet</a></div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-info-sign"></i> </span>
                    <h5>Add Builder Cost Sheet</h5>
                </div>
                <div class="widget-content nopadding">
                    <form method="post" action="@Url.Action("add_builder_cost_sheet","Home")" name="basic_validate" id="basic_validate" novalidate="novalidate">
                        <table class="table table-striped">
                            <tbody>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Site Name</label></td>
                                    <td>
                                        <select name="site" id="site">    </select>
                                    </td>
                                    <td><label class="control-label">Type</label></td>
                                    <td> <input type="text" name="type" id="required"></td>
                                    <td><label class="control-label">Area</label></td>
                                    <td><input type="text" name="area" id="required"></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">RR Rate</label></td>
                                    <td><input type="text" name="rr_rate" id="required"></td>
                                    <td><label class="control-label">Basic Rate</label></td>
                                    <td> <input type="number" name="basic_rate" id="required"></td>
                                    <td><label class="control-label">Basic Cost</label></td>
                                    <td><input type="number" name="basic_cost" id="required"></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Legal Charges</label></td>
                                    <td><input type="number" name="legal_charge" id="required"></td>
                                    <td><label class="control-label">MSEB Charges</label></td>
                                    <td> <input type="number" name="mseb" id="required"></td>
                                    <td><label class="control-label">Development Charges</label></td>
                                    <td><input type="number" name="devcharge" id="required"></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Stamp Duty Registration</label></td>
                                    <td><input type="number" name="stampdutyreg" id="required"></td>
                                    <td><label class="control-label">GST</label></td>
                                    <td> <input type="number" name="gst" id="required"></td>
                                    <td><label class="control-label">Other Amount</label></td>
                                    <td><input type="number" name="otheramt" id="required"></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Grand Total</label></td>
                                    <td><input type="number" name="grandtotal" id="required"></td>
                                    <td><input type="submit" value="Save" class="btn btn-success" /></td>
                                    <td><input type="reset" value="Cancel" class="btn btn-danger" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-th"></i></span>
                    <h5>Cost Details</h5>
                    <div class="select-site">
                        <h5>Site Name</h5>
                        <div class="dataTables_length">
                            <select name="site_name" id="site_name" style="max-width:90%;">
                                <option value="GK REM"> GK REM</option>
                                <option value="GK Rahadaki"> GK Rahadaki</option>
                                <option value="GK Royal"> GK Royal</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="widget-content nopadding">
                    @Html.Partial("page_size")
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Type</th>
                                <th>Basic Rate</th>
                                <th>Basic Cost</th>
                                <th>Legal Charges</th>
                                <th>MSEB Charges</th>
                                <th>Development Charges</th>
                                <th>Stamp duty Reg</th>
                                <th>GST</th>
                                <th>Other Amount</th>
                                <th>Grand Total</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < cnt; i++)
                            {
                                <tr class="gradeX">
                                    <td>@results[0][i]</td>
                                    <td>@results[2][i]</td>
                                    <td>@results[3][i]</td>
                                    <td>@results[4][i]</td>
                                    <td>@results[5][i]</td>
                                    <td>@results[6][i]</td>
                                    <td>@results[7][i]</td>
                                    <td>@results[8][i]</td>
                                    <td>@results[9][i]</td>
                                    <td>@results[10][i]</td>
                                    <td>@results[11][i]</td>
                                    <td align="center"><button class="btn btn-primary">Edit</button> <button class="btn btn-danger">Delete</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @Html.Partial("pagination")
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery.ui.custom.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/matrix.popover.js"></script>
<script src="~/Scripts/jquery.uniform.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/matrix.js"></script>
<script src="~/Scripts/matrix.tables.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/matrix.form_validation.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#page_size").change(function () {
            window.location = '@Html.Raw(@Url.Action("BuilderCostSheet", "Home", new { ps = "id" }))'.replace("id", $("#page_size option:selected").text());
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: '@Url.Action("get_site", "Home")',
            data: {},
            dataType: 'json',
            success: function (d) {
                var list1 = d.id;
                var list = d.name;
                $("#site").html("");
                $.each(list, function (index, value) {
                    $("#site").append($('<option></option>').val(list1[index]).html(value));
                });
            },
            error: function (err) {
                alert(err.responseText);
            },
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#pagination_first").click(function () {
            window.location = '@Html.Raw(@Url.Action("First", "Home", new { page = "BuilderCostSheet", ps = "id" }))'.replace("id", $("#page_size option:selected").text());
        });
    });
    $(document).ready(function () {
        $("#pagination_previous").click(function () {
            window.location = '@Html.Raw(@Url.Action("Previous", "Home", new { page = "BuilderCostSheet", ps = "id" }))'.replace("id", $("#page_size option:selected").text());
        });
    });
    $(document).ready(function () {
        $("#pagination_next").click(function () {
            window.location = '@Html.Raw(@Url.Action("Next", "Home", new { page = "BuilderCostSheet", ps = "id" }))'.replace("id", $("#page_size option:selected").text());
        });
    });
    $(document).ready(function () {
        $("#pagination_last").click(function () {
            window.location = '@Html.Raw(@Url.Action("Last", "Home", new { page = "BuilderCostSheet", ps = "id" }))'.replace("id", $("#page_size option:selected").text());
        });
    });
</script>