@model IEnumerable<kd.Models.DailyVM>
    @{
        ViewBag.Title = "Daily Enquiry PDF";
    }

    @{
        var results = ViewBag.list;
        int? cnt = new int?();
        cnt = ViewBag.total;
        if (cnt == null)
        {
            cnt = 0;
        }
        WebGrid grid = new WebGrid(source: Model, canSort: false);
    }
    <style>
    </style>

    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="~/Content/matrix-style.css" />
    <link rel="stylesheet" href="~/Content/matrix-media.css" />
    <link rel="stylesheet" href="~/Content/uniform.css" />
    <link rel="stylesheet" href="~/Content/select2.css" />
    <link href="~/fonts/gst_font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    
    <div id="main" style="padding:25px;background-color:white">
        @grid.GetHtml(
         htmlAttributes: new { id = "gridT", width = "700px" },
         columns: grid.Columns(
             grid.Column("_DailyFollowup.ID", "Daily FollowupId"),
             grid.Column("_DailyFollowup.Customer_Name", "Customer Name"),
             grid.Column("_DailyFollowup.Address", "Customer Address"),

             grid.Column(format: (item) => {
             WebGrid subGrid = new WebGrid(source: item._DailyVM);
             return subGrid.GetHtml(
                 htmlAttributes: new {id="subT" },
                 columns:subGrid.Columns(
                        subGrid.Column("Requirement", "Requirement"),
                        subGrid.Column("Email_ID", "EmailID")
                        )
                     );
                })

            )
         );
     </div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var size = $("#main #gridT > thead > tr > th").size();
            $("#main #gridT > thead > tr > th").last().remove();
            $("#main #gridT > thead > tr").prepend("<th></th>");
            $("#main #gridT > thead > tr").each(function (i, el) {
                $(this).prepend(
                    $("<td></td>")
                        .addClass("expand")
                        .addClass("hoverEff")
                        .attr('title','click for show/hide')
                );

                // now get sub table
                var table = $("table", this).parent.html();
                $(this).after("<tr><td></td><td style='padding:5px; margin:0px;' colspan='" + (size - 1) + "'>" + table + "</td></tr>");
                $("table", this).parent().remove();
                $(".hoverEff", this).live("click", function () {
                    $(this).parent().closet("tr").next().slideToggle(1000);
                    $(this).toggleClass("expand collapse");
                });

            });
            $("#main #gridT > tbody > tr td.expand").each(function (i, el) {
                $(this).toggleClass("expand collapse");
                $(this).parent().closet("tr").next().slideToggle(1000);
            });
        });
    </script>
    }
    <!--
    <div id="content-header">
        <div id="breadcrumb"> <a href='@Url.Action("Index", "Home")' title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href='@Url.Action("DailyReportPDF", "Home")'>Daily Report</a></div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"> <i class="icon-info-sign"></i> </span>
                        <h5>Daily Enquiry Report</h5>
                    </div>
                    <div>
                        <form method="post" action="@Url.Action("Generate_pdf","Home")" name="basic_validate" id="basic_validate" novalidate="novalidate">
                            <div id="Grid">
                                <table cellpadding="2" cellspacing="1" border="1" width="100%">
                                    <thead>
                                        <tr>
                                            <th colspan="12" align="center" valign="middle"> <p style="font-weight:bold;font-size:large;text-align:center">Daily Enquiry </p></th>
                                        </tr>
                                        <tr>
                                            <th>Enquiry Date</th>
                                            <th>Customer Name</th>
                                            <th>Address</th>
                                            <th>Mobile No</th>
                                            <th>Occupation</th>
                                            <th>Site</th>
                                            <th>Requirement</th>
                                            <th>Visit</th>
                                            <th>Interest</th>
                                            <th>Down Payment</th>
                                            <th>Booking</th>
                                            <th>Remark</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (var i = 0; i < cnt; i++)
                                        {
                                        <tr>
                                            <td>@results[1][i]</td>
                                            <td>@results[2][i]</td>
                                            <td>@results[7][i]</td>
                                            <td>@results[3][i]</td>
                                            <td>@results[8][i]</td>
                                            <td>@results[13][i]</td>
                                            <td>@results[4][i]</td>
                                            <td>@results[9][i]</td>
                                            <td>@results[10][i]</td>
                                            <td>@results[5][i]</td>
                                            <td>@results[11][i]</td>
                                            <td>@results[12][i]</td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>

                                <input type="hidden" name="GridHtml" />
                                <input type="submit" value="Generate Pdf" id="btnSubmit" class="btn btn-success" />

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
        -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnSubmit").click(function () {
                $("input[name='GridHtml']").val($("#Grid").html());
            });
        });
    </script>

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.ui.custom.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/matrix.popover.js"></script>
    <script src="~/Scripts/jquery.uniform.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/matrix.js"></script>
    <script src="~/Scripts/matrix.tables.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/matrix.form_validation.js"></script>




