
@{
    ViewBag.Title = "ExecutiveAudits";
}

@{
    var results = ViewBag.list;
    int? cnt = new int?();
    cnt = ViewBag.total;
    if (cnt == null)
    {
        cnt = 0;
    }
    var elist = ViewBag.edit_list;
    bool edit = false;
    if (ViewBag.edit_str == "edit")
    {
        edit = true;
    }
}

<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="~/Content/matrix-style.css" />
<link rel="stylesheet" href="~/Content/matrix-media.css" />
<link rel="stylesheet" href="~/Content/uniform.css" />
<link rel="stylesheet" href="~/Content/select2.css" />
<link href="~/fonts/gst_font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

<div id="content-header">
    <div id="breadcrumb"> <a href='@Url.Action("Index", "Home")' title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href='@Url.Action("ExecutiveAudits", "Home")'>Add Booking</a></div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-info-sign"></i> </span>
                    <h5>Executive/Franchies Booking Details</h5>
                </div>
                <div class="widget-content nopadding">
                    <form method="post" action="@Url.Action("add_exe_franc_audit","Home")" name="basic_validate" id="basic_validate" novalidate="novalidate">
                        <table class="table table-striped">
                            <tbody>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Executive/Franchies Name</label></td>
                                    <td>
                                        <select name="ename" id="ename" style="max-width:65%;">  </select>
                                    </td>
                                    <td><label class="control-label">Total Incentive</label></td>
                                    <td><input type="number" name="incentive" id="required" @(edit ? new { value = elist[4] } : null)></td>
                                </tr>                                
                                @Html.Partial("booking_fk")
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Total Share</label></td>
                                    <td> <input type="text" name="share" id="required" @(edit ? (elist[5] != "" ? new { value = elist[5].Replace(" ", "\u00A0") } : null) : null)></td>

                                    @if (edit)
                                    {
                                        <td><input type="submit" name="submit_btn" value="Update" class="btn btn-success" /></td>
                                        <td colspan="3"> <input type="submit" name="submit_btn" value="Cancel" class="btn btn-danger" /> </td>
                                        <td> <input type="hidden" name="edit_id" value=@elist[0] /> </td>
                                    }
                                    else
                                    {
                                        <td><input type="submit" name="submit_btn" value="Save" class="btn btn-success" /></td>
                                        <td colspan="3"> <input type="reset" value="Cancel" class="btn btn-danger" /> </td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery.ui.custom.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/matrix.popover.js"></script>
<script src="~/Scripts/jquery.uniform.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/matrix.js"></script>
<script src="~/Scripts/matrix.tables.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/matrix.form_validation.js"></script>

@{
    var message = TempData["AlertMessage"] ?? string.Empty;
}
<script type="text/javascript">
    var message = '@message';
    if(message)
        alert(message);
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: '@Url.Action("get_executive", "Home")',
            data: {},
            dataType: 'json',
            success: function (d) {
                var list1 = d.id;
                var list = d.name;
                $("#ename").html("");
                $.each(list, function (index, value) {
                    $("#ename").append($('<option></option>').val(list1[index]).html(value));
                });
                @if (edit){ <text> document.getElementById("ename").value = @(elist[1]); </text> }
            },
            error: function (err) {
                alert(err.responseText);
            },
        });
    });
</script>