@{
    ViewBag.Title = "Finance";
}

@{
    var results = ViewBag.list;
    int? cnt = new int?();
    cnt = ViewBag.total;
    if (cnt == null)
    {
        cnt = 0;
    }
    var elist = ViewBag.edit_list;
    bool edit = false;
    if (ViewBag.edit_str == "edit")
    {
        edit = true;
    }
}

<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="~/Content/matrix-style.css" />
<link rel="stylesheet" href="~/Content/matrix-media.css" />
<link rel="stylesheet" href="~/Content/uniform.css" />
<link rel="stylesheet" href="~/Content/select2.css" />
<link href="~/fonts/gst_font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

<div id="content-header">
    <div id="breadcrumb"> <a href='@Url.Action("Index", "Home")' title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href='@Url.Action("Finance", "Home")'>Add Finance</a></div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-info-sign"></i> </span>
                    <h5>Add Finance Details</h5>
                </div>
                <div class="widget-content nopadding">
                    <form method="post" action="@Url.Action("add_finance","Home")" name="basic_validate" id="basic_validate" novalidate="novalidate">
                        <table class="table table-striped">
                            <tbody>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Finance Type</label></td>
                                    <td>
                                        <select name="fintype" required style="max-width:65%;">
                                            <option value="Self" @(edit ? (elist[1].Contains("Self") ? "selected" : "") : "selected")>Self</option>
                                            <option value="Cash" @(edit ? (elist[1].Contains("Cash") ? "selected" : "") : "")>Cash</option>
                                            <option value="Pending" @(edit ? (elist[1].Contains("Pending") ? "selected" : "") : "")>Pending</option>
                                            <option value="Builder" @(edit ? (elist[1].Contains("Builder") ? "selected" : "") : "")>Builder</option>
                                            <option value="Service" @(edit ? (elist[1].Contains("Service") ? "selected" : "") : "")>Service</option>
                                        </select>
                                    </td>
                                    <td><label class="control-label">Finance Name</label></td>
                                    <td> <input type="text" name="finname" value="" required @(edit ? new { value = elist[2].Replace(" ", "\u00A0") } : null)></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Finance Executive</label></td>
                                    <td><input type="text" name="finexe" value="" id="required" @(edit ? new { value = elist[3].Replace(" ", "\u00A0") } : null)></td>

                                    <td><label class="control-label">Finance Executive Mobile No</label></td>
                                    <td><input type="number" name="finexemob" value="" id="required" @(edit ? new { value = elist[4] } : null)></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Finance Executive Email Id</label></td>
                                    <td> <input type="email" name="finexeemail" value="" id="required" @(edit ? new { value = elist[5] } : null)></td>
                                    <td><label class="control-label">File Handover Date</label></td>
                                    <td><input type="date" name="filehanddate" value="" id="filehanddate" required @(new { value = (edit ? Convert.ToDateTime(elist[6]).ToString("yyyy-MM-dd") : DateTime.Today.ToString("yyyy-MM-dd")) } )></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">File Status</label></td>
                                    <td>
                                        <select name="filesta" required style="max-width:65%;">
                                            <option value="Process" @(edit ? (elist[10].Contains("Process") ? "selected" : "") : "selected")>Process</option>
                                            <option value="Login" @(edit ? (elist[10].Contains("Login") ? "selected" : "") : "")>Login</option>
                                            <option value="Sanction" @(edit ? (elist[10].Contains("Sanction") ? "selected" : "") : "")>Saction</option>
                                            <option value="Disbus" @(edit ? (elist[10].Contains("Disbus") ? "selected" : "") : "")>Disbus</option>
                                            <option value="Other" @(edit ? (elist[10].Contains("Other") ? "selected" : "") : "")>Other</option>
                                        </select>
                                    </td>
                                    <td><label class="control-label">File Sanction Date</label></td>
                                    <td> <input type="date" name="filesanctdate" value="" id="filesanctdate" required @(new { value = (edit ? Convert.ToDateTime(elist[11]).ToString("yyyy-MM-dd") : DateTime.Today.ToString("yyyy-MM-dd")) } )></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Required Loan Amount</label></td>
                                    <td><input type="number" name="reqloanamt" value="" id="reqloanamt" @(edit ? new { value = elist[12] } : null) onkeyup="diff();"></td>
                                    <td><label class="control-label">Sanction Loan Amount</label></td>
                                    <td><input type="number" name="sanctloanamt" value="" id="required" @(edit ? new { value = elist[13] } : null)></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Actual Loan Amount</label></td>
                                    <td><input type="number" name="actloanamt" value="" id="actloanamt" @(edit ? new { value = elist[15] } : null) onkeyup="diff();"></td>
                                    <td><label class="control-label">Received DD Amount</label></td>
                                    <td><input type="number" name="recddamt" value="" id="recddamt" @(edit ? new { value = elist[17] } : null) onkeyup="diff();"></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Diff Loan Amount</label></td>
                                    <td><input type="number" readonly name="diffloanamt" value="" id="diffloanamt" @(edit ? new { value = elist[16] } : null)></td>
                                    <td><label class="control-label">Remaining DD Amount</label></td>
                                    <td> <input type="number" readonly name="remddamt" value="" id="remddamt" @(edit ? new { value = elist[18] } : null)></td>                                    
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">File Rejected Finance</label></td>
                                    <td> <input type="text" name="finstat" value="" id="required" @(edit ? new { value = elist[22].Replace(" ", "\u00A0") } : null)></td>
                                    <td><label class="control-label">Rate Of Interest</label></td>
                                    <td><input type="text" name="rateofinter" value="" id="required" @(edit ? new { value = elist[19].Replace(" ", "\u00A0") } : null)></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">EMI Amount</label></td>
                                    <td><input type="number" name="emiamt" value="" id="required" @(edit ? new { value = elist[20] } : null)></td>
                                    <td><label class="control-label">EMI Total Months</label></td>
                                    <td> <input type="number" name="emimonths" value="" id="required" @(edit ? new { value = elist[21] } : null)></td>
                                </tr>
                                @Html.Partial("booking_fk")
                                <tr class="odd gradeX">                                    
                                    @if (edit)
                                    {
                                        <td><input type="submit" name="submit_btn" value="Update" class="btn btn-success" /></td>
                                        <td colspan="3"> <input type="submit" name="submit_btn" value="Cancel" class="btn btn-danger" /> </td>
                                        <td> <input type="hidden" name="edit_id" value=@elist[0] /> </td>
                                    }
                                    else
                                    {
                                        <td><input type="submit" name="submit_btn" value="Save" class="btn btn-success" /></td>
                                        <td colspan="3"> <input type="reset" value="Cancel" class="btn btn-danger" /> </td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            @if (!edit)
            {
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-th"></i></span>
                        <h5>All Finance Details</h5>
                    </div>
                    <div class="widget-content nopadding">
                        @Html.Partial("page_size")
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Finance Type</th>
                                    <th>Finance Name</th>
                                    <th>Finance Executive Name</th>
                                    <th>File Status</th>
                                    <th>Applicant Name</th>
                                    <th>Site</th>
                                    <th>Flat</th>
                                    @if (this.Session["role"].ToString() == "admin")
                                    {
                                        <th>Action</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @for (var i = 0; i < cnt; i++)
                                {
                                    <tr class="gradeX">
                                        <td>@results[0][i]</td>
                                        <td>@results[1][i]</td>
                                        <td>@results[2][i]</td>
                                        <td>@results[3][i]</td>
                                        <td>@results[7][i]</td>
                                        <td>@results[52][i]</td>
                                        <td>@results[36][i]</td>
                                        <td>@results[48][i]@results[44][i]</td>
                                        @if (this.Session["role"].ToString() == "admin")
                                        {
                                            <td align="center">
                                                <button onclick="fun_edit(this);" value="@results[0][i]" class="btn btn-primary">Edit</button>
                                                <button onclick="fun_del(this);" value="@results[0][i]" class="btn btn-danger">Delete</button>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    @Html.Partial("pagination")
                </div>
            }
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery.ui.custom.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/matrix.popover.js"></script>
<script src="~/Scripts/jquery.uniform.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/matrix.js"></script>
<script src="~/Scripts/matrix.tables.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/matrix.form_validation.js"></script>

<script type="text/javascript">
    function fun_del(obj)
    {
        if (confirm('Are you sure you want to delete this record?'))
        {
            window.location = '@Html.Raw(@Url.Action("delete_record", "Home", new { page = "Finance", ps = "id", search = "srch_str", del_id = "delid" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val()).replace("delid", obj.value);
        }
    }

    function fun_edit(obj)
    {
        window.location = '@Html.Raw(@Url.Action("edit_record", "Home", new { page = "Finance", ps = "id", search = "srch_str", edit_id = "editid" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val()).replace("editid", obj.value);
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#filehanddate").change(function () {
            check_date();
        });

        $("#filesanctdate").change(function () {
            check_date();
        });

        function check_date() {
            var startDate = document.getElementById("filehanddate").value;
            var endDate = document.getElementById("filesanctdate").value;

            if ((Date.parse(startDate) > Date.parse(endDate))) {
                alert("File sanction date should be greater than file handover date.");
                document.getElementById("filesanctdate").value = "";
            }
        }
    });

    function diff() {
        var required_loan_amt = parseInt(document.getElementById('reqloanamt').value);
        var actual_loan_amt = parseInt(document.getElementById('actloanamt').value);
        var received_dd_amt = parseInt(document.getElementById('recddamt').value);
        
        if (required_loan_amt < actual_loan_amt) {
            alert("Required loan amount can not be less than the actual loan amount.");
            document.getElementById('actloanamt').value = 0;
        }
        else {
            var result = required_loan_amt - actual_loan_amt;
            if (!isNaN(result)) {
                document.getElementById('diffloanamt').value = result;
            }            
        }
        if (actual_loan_amt < received_dd_amt) {
            alert("Received DD amount can not be greater than the actual loan amount.");
            document.getElementById('recddamt').value = 0;
        }
        else {
            var result1 = actual_loan_amt - received_dd_amt;
            if (!isNaN(result1)) {
                document.getElementById('remddamt').value = result1;
            }
        }
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#page_size").change(function () {
            window.location = '@Html.Raw(@Url.Action("Finance", "Home", new { ps = "id", search = "srch_str" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val());
        });
    });

    $(document).ready(function () {
        $("#search1").keydown(function (event) {
            if (event.keyCode == 13) {
                window.location = '@Html.Raw(@Url.Action("Finance", "Home", new { ps = "id", search = "srch_str" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val());
            }
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#pagination_first").click(function () {
            window.location = '@Html.Raw(@Url.Action("First", "Home", new { page = "Finance", ps = "id", search = "srch_str" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val());
        });
    });
    $(document).ready(function () {
        $("#pagination_previous").click(function () {
            window.location = '@Html.Raw(@Url.Action("Previous", "Home", new { page = "Finance", ps = "id", search = "srch_str" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val());
        });
    });
    $(document).ready(function () {
        $("#pagination_next").click(function () {
            window.location = '@Html.Raw(@Url.Action("Next", "Home", new { page = "Finance", ps = "id", search = "srch_str" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val());
        });
    });
    $(document).ready(function () {
        $("#pagination_last").click(function () {
            window.location = '@Html.Raw(@Url.Action("Last", "Home", new { page = "Finance", ps = "id", search = "srch_str" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val());
        });
    });
</script>

@{
    var message = TempData["AlertMessage"] ?? string.Empty;
}
<script type="text/javascript">
    var message = '@message';
    if(message)
        alert(message);
</script>