@{
    ViewBag.Title = "Finance";
}

@{
    var results = ViewBag.list;
    int? cnt = new int?();
    cnt = ViewBag.total;
    if (cnt == null)
    {
        cnt = 0;
    }
}

<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="~/Content/matrix-style.css" />
<link rel="stylesheet" href="~/Content/matrix-media.css" />
<link rel="stylesheet" href="~/Content/uniform.css" />
<link rel="stylesheet" href="~/Content/select2.css" />
<link href="~/fonts/gst_font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

<div id="content-header">
    <div id="breadcrumb"> <a href='@Url.Action("Dashboard", "Home")' title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href='@Url.Action("Finance", "Home")'>Add Finance</a></div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-info-sign"></i> </span>
                    <h5>Add Finance Details</h5>
                </div>
                <div class="widget-content nopadding">
                    <form method="post" action="@Url.Action("add_finance","Home")" name="basic_validate" id="basic_validate" novalidate="novalidate">
                        <table class="table table-striped">
                            <tbody>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Finance Type</label></td>
                                    <td>
                                        <select name="fintype" id="required">
                                            <option value="self" selected="selected">Self</option>
                                            <option value="cash">Cash</option>
                                            <option value="pending">Pending</option>
                                            <option value="builder">Builder</option>
                                            <option value="service">Service</option>
                                        </select></td>
                                    <td><label class="control-label">Finance Name</label></td>
                                    <td> <input type="text" name="finname" id="required"></td>
                                    <td><label class="control-label">Finance Executive</label></td>
                                    <td><input type="text" name="finexe" id="required"></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Finance Executive Mobile No</label></td>
                                    <td><input type="number" name="finexemob" id="required"></td>
                                    <td><label class="control-label">Finance Executive Email Id</label></td>
                                    <td> <input type="email" name="finexeemail" id="required"></td>
                                    <td><label class="control-label">File Handover Date</label></td>
                                    <td><input type="date" name="filehanddate" id="required"></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">File Status</label></td>
                                    <td>
                                        <select name="filesta" id="required">
                                            <option value="Process" selected="selected">Process</option>
                                            <option value="Login">Login</option>
                                            <option value="Sanction">Saction</option>
                                            <option value="Disbus">Disbus</option>
                                            <option value="Other">Other</option>
                                        </select></td>
                                    <td><label class="control-label">File Sanction Date</label></td>
                                    <td> <input type="date" name="filesanctdate" id="required"></td>
                                    <td><label class="control-label">Required Loan Amount</label></td>
                                    <td><input type="number" name="reqloanamt" id="required"></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Sanction Loan Amount</label></td>
                                    <td><input type="number" name="sanctloanamt" id="required"></td>
                                    <td><label class="control-label">Actual Loan Amount</label></td>
                                    <td><input type="number" name="actloanamt" id="required"></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Receiving DD Amount</label></td>
                                    <td><input type="number" name="recddamt" id="required"></td>
                                    <td><label class="control-label">Remaining DD Amount</label></td>
                                    <td> <input type="number" name="remddamt" id="required"></td>
                                    <td><label class="control-label">Rate Of Interest</label></td>
                                    <td><input type="text" name="rateofinter" id="required"></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">EMI Amount</label></td>
                                    <td><input type="number" name="emiamt" id="required"></td>
                                    <td><label class="control-label">EMI Total Months</label></td>
                                    <td> <input type="number" name="emimonths" id="required"></td>
                                    <td><label class="control-label">Customer Name</label></td>
                                    <td><input type="text" name="bookid" id="required"></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Status</label></td>
                                    <td> <textarea class="span11" name="finstat"></textarea>
                                        <select name="finstat" id="required">
                                            <option value="Approved" selected="selected">Approved</option>
                                            <option value="Reject">Reject</option>
                                            <option value="Other">Other</option>
                                        </select></td>
                                    <td><input type="submit" value="Save" class="btn btn-success"/></td>
                                    <td><input type="reset" value="Cancel" class="btn btn-danger"/></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-th"></i></span>
                    <h5>All Finance Details</h5>
                </div>
                <div class="widget-content nopadding">
                    @Html.Partial("page_size")
                    <form method="post" action="@Url.Action("Finance","Home")" name="pc" id="pc">
                        <input type="hidden" id="ps" name="ps" value="10" />
                    </form>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Finance Type</th>
                                <th>Finance Name</th>
                                <th>Finance Executive Name</th>
                                <th>File Status</th>
                                <th>Total Disbursed Amount</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < cnt; i++)
                            {
                                <tr class="gradeX">
                                    <td>@results[0][i]</td>
                                    <td>@results[1][i]</td>
                                    <td>@results[2][i]</td>
                                    <td>@results[3][i]</td>
                                    <td>@results[7][i]</td>
                                    <td>@results[11][i]</td>
                                    <td align="center"><button class="btn btn-primary">Edit</button> <button class="btn btn-danger">Delete</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @Html.Partial("pagination")
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery.ui.custom.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/matrix.popover.js"></script>
<script src="~/Scripts/jquery.uniform.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/matrix.js"></script>
<script src="~/Scripts/matrix.tables.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/matrix.form_validation.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#DataTables_Table_0_length").change(function () {
            document.getElementById("ps").value = $("#DataTables_Table_0_length option:selected").text();
            document.getElementById('pc').submit();
        });
    });
</script>