@{
    ViewBag.Title = "Daily Enquiry";
}

@{
    var results = ViewBag.list;
    int? cnt = new int?();
    cnt = ViewBag.total;
    if (cnt == null)
    {
        cnt = 0;
    }
}

<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="~/Content/matrix-style.css" />
<link rel="stylesheet" href="~/Content/matrix-media.css" />
<link rel="stylesheet" href="~/Content/uniform.css" />
<link rel="stylesheet" href="~/Content/select2.css" />
<link href="~/fonts/gst_font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

<div id="content-header">
    <div id="breadcrumb"> <a href='@Url.Action("Dashboard", "Home")' title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href='@Url.Action("Index", "Home")'>Enquiry</a></div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-info-sign"></i> </span>
                    <h5>Daily Enquiry</h5>
                </div>
                <div class="widget-content nopadding">
                    <form method="post" action="@Url.Action("add_enquiry","Home")" name="basic_validate" id="basic_validate" novalidate="novalidate">
                        <table class="table table-striped">
                            <tbody>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Customer Name</label></td>
                                    <td><input type="text" name="enqname" id="required"></td>
                                    <td><label class="control-label">Address</label></td>
                                    <td> <input type="text" name="enqaddress" id="required"></td>
                                    <td><label class="control-label">Mobile No</label></td>
                                    <td><input type="text" name="enqmob" id="required"></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Date</label></td>
                                    <td><input type="text" name="enqdate" id="required"></td>
                                    <td><label class="control-label">Site</label></td>
                                    <td> <input type="text" name="enqsite" id="required"></td>
                                    <td><label class="control-label">Requirement</label></td>
                                    <td><input type="text" name="enqrequirement" id="required"></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Occupation</label></td>
                                    <td><input type="text" name="enqoccu" id="required"></td>
                                    <td><label class="control-label">Visit</label></td>
                                    <td> <input type="text" name="enqvisit" id="required"></td>
                                    <td><label class="control-label">Interest</label></td>
                                    <td><input type="text" name="enqinterest" id="required"></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Budget</label></td>
                                    <td><input type="text" name="enqbudget" id="required"></td>
                                    <td><label class="control-label">Down Payment</label></td>
                                    <td><input type="text" name="enqdown" id="required"></td>
                                    <td><label class="control-label">Booking No</label></td>
                                    <td><input type="text" name="enqbooking" id="required"></td>                                  
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Remark</label></td>
                                    <td> <textarea class="span11" name="enqremark"></textarea></td>
                                    <td><input type="submit" value="Save" class="btn btn-success" /></td>
                                    <td colspan="3"> <input type="reset" value="Cancel" class="btn btn-danger" /> </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-th"></i></span>
                    <h5>All Enquiries</h5> 
                </div>
                <div class="widget-content nopadding">
                    <form method="post" action="@Url.Action("Index","Home")" name="pc" id="pc">
                        <input type="hidden" id="ps" name="ps" value="10" />
                    </form>
                        <table class="table table-bordered data-table with-check">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Customer Name</th>
                                    <th>Address</th>
                                    <th>Mobile No</th>
                                    <th>Occupation</th>
                                    <th>Date</th>
                                    <th>Site</th>
                                    <th>Requirement</th>
                                    <th>Visit</th>
                                    <th>Interest</th>
                                    <th>Down Payment</th>
                                    <th>Booking No</th>
                                    <th>Remark</th>
                                    <th>Modify</th>

                                </tr>
                            </thead>
                            <tbody>
                                @for (var i = 0; i < cnt; i++)
                                {
                                    <tr class="gradeX">
                                        <td>@results[0][i]</td>
                                        <td>@results[1][i]</td>
                                        <td>@results[2][i]</td>
                                        <td>@results[3][i]</td>
                                        <td>@results[4][i]</td>
                                        <td>@results[5][i]</td>
                                        <td>@results[6][i]</td>
                                        <td>@results[7][i]</td>
                                        <td>@results[8][i]</td>
                                        <td>@results[9][i]</td>
                                        <td>@results[10][i]</td>
                                        <td>@results[11][i]</td>
                                        <td>@results[12][i]</td>
                                        <td align="center"><button class="btn btn-primary">Edit</button> <button class="btn btn-danger">Delete</button></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
</div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery.ui.custom.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/matrix.popover.js"></script>
<script src="~/Scripts/jquery.uniform.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/matrix.js"></script>
<script src="~/Scripts/matrix.tables.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/matrix.form_validation.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#DataTables_Table_0_length").change(function () {
            document.getElementById("ps").value = $("#DataTables_Table_0_length option:selected").text();
            document.getElementById('pc').submit();
        });
    });
</script>