@{
    ViewBag.Title = "Daily Enquiry";
}

@{
    var results = ViewBag.list;
    int? cnt = new int?();
    cnt = ViewBag.total;
    if (cnt == null)
    {
        cnt = 0;
    }
    int? sz = new int?();
    sz = ViewBag.pageSize;
    if (sz == null)
    {
        sz = 10;
    }
}

<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="~/Content/matrix-style.css" />
<link rel="stylesheet" href="~/Content/matrix-media.css" />
<link rel="stylesheet" href="~/Content/uniform.css" />
<link rel="stylesheet" href="~/Content/select2.css" />
<link href="~/fonts/gst_font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

<div id="content-header">
    <div id="breadcrumb"> <a href='@Url.Action("Dashboard", "Home")' title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href='@Url.Action("Index", "Home")'>Daily Enquiry</a></div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-info-sign"></i> </span>
                    <h5>Daily Enquiry</h5>
                </div>
                <div class="widget-content nopadding">
                    <form method="post" action="@Url.Action("add_enquiry","Home")" name="basic_validate" id="basic_validate" novalidate="novalidate">
                        <table class="table table-striped">
                            <tbody>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Customer Name</label></td>
                                    <td><input type="text" name="enqname" id="required"></td>
                                    <td><label class="control-label">Address</label></td>
                                    <td> <input type="text" name="enqaddress" id="required"></td>
                                    <td><label class="control-label">Mobile No</label></td>
                                    <td><input type="number" name="enqmob" id="required"></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Date</label></td>
                                    <td><input type="date" name="enqdate" id="required"></td>
                                    <td><label class="control-label">Site</label></td>
                                    <td> 
                                        <select name="enqsite" id="enqsite">    </select>
                                    </td>
                                    <td><label class="control-label">Requirement</label></td>
                                    <td>
                                        <select multiple name="enqrequirement" id="required">
                                            <option value="1RK" selected="selected">1RK</option>
                                            <option value="1BHK">1BHK</option>
                                            <option value="2BHK">2BHK</option>
                                            <option value="3BHK">3BHK</option>
                                            <option value="Other">Other</option>
                                        </select>
                                        <input type="text" name="enqrequirementother" id="required">
                                    </td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Occupation</label></td>
                                    <td>
                                        <select name="enqoccu" id="required">
                                            <option value="Salaried" selected="selected">Salaried</option>
                                            <option value="Business">Business</option>
                                            <option value="Pensioner">Pensioner</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </td>
                                    <td><label class="control-label">Visit</label></td>
                                    <td>
                                        <select name="enqvisit" id="required">
                                            <option value="Yes" selected="selected">Yes</option>
                                            <option value="No">No</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </td>
                                    <td><label class="control-label">Interest</label></td>
                                    <td>
                                        <select name="enqinterest" id="required">
                                            <option value="Yes" selected="selected">Yes</option>
                                            <option value="No">No</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Budget</label></td>
                                    <td><input type="number" name="enqbudget" id="required"></td>
                                    <td><label class="control-label">Down Payment</label></td>
                                    <td><input type="number" name="enqdown" id="required"></td>
                                    <td><label class="control-label">Booking</label></td>
                                    <td>
                                        <select name="enqbooking" id="required">
                                            <option value="Yes" selected="selected">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                    </td>                                  
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Remark</label></td>
                                    <td> <textarea class="span11" name="enqremark"></textarea></td>
                                    <td><input type="submit" value="Save" class="btn btn-success" /></td>
                                    <td colspan="3"> <input type="reset" value="Cancel" class="btn btn-danger" /> </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-th"></i></span>
                    <h5>All Enquiries</h5> 
                </div>
                <div class="widget-content nopadding">
                    @Html.Partial("page_size")                    
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Customer Name</th>
                                    <th>Address</th>
                                    <th>Mobile No</th>
                                    <th>Occupation</th>
                                    <th>Date</th>
                                    <th>Site</th>
                                    <th>Requirement</th>
                                    <th>Visit</th>
                                    <th>Interest</th>
                                    <th>Down Payment</th>
                                    <th>Booking No</th>
                                    <th>Remark</th>
                                    <th>Modify</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (var i = 0; i < cnt; i++)
                                {
                                    <tr class="gradeX">
                                        <td>@results[0][i]</td>
                                        <td>@results[2][i]</td>
                                        <td>@results[7][i]</td>
                                        <td>@results[3][i]</td>
                                        <td>@results[8][i]</td>
                                        <td>@results[1][i]</td>
                                        <td>@results[13][i]</td>
                                        <td>@results[4][i]</td>
                                        <td>@results[9][i]</td>
                                        <td>@results[10][i]</td>
                                        <td>@results[5][i]</td>
                                        <td>@results[11][i]</td>
                                        <td>@results[12][i]</td>
                                        <td align="center"><button class="btn btn-primary">Edit</button> <button class="btn btn-danger">Delete</button></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    @Html.Partial("pagination")                
                </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery.ui.custom.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/matrix.popover.js"></script>
<script src="~/Scripts/jquery.uniform.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/matrix.js"></script>
<script src="~/Scripts/matrix.tables.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/matrix.form_validation.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#page_size").change(function () {
            window.location = '@Html.Raw(@Url.Action("Index", "Home", new { ps = "id", search = "srch_str" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val());
        });
    });

    $(document).ready(function () {
        $("#search1").keydown(function (event) {
            if (event.keyCode == 13) {
                window.location = '@Html.Raw(@Url.Action("Index", "Home", new { ps = "id", search = "srch_str" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val());
            }
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: '@Url.Action("get_site", "Home")',
            data: {},
            dataType: 'json',
            success: function (d) {
                var list1 = d.id;
                var list = d.name;
                $("#enqsite").html("");
                $.each(list, function (index, value) {
                    $("#enqsite").append($('<option></option>').val(list1[index]).html(value));
                });
            },
            error: function (err) {
                alert(err.responseText);
            },
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#pagination_first").click(function () {
            window.location = '@Html.Raw(@Url.Action("First", "Home", new { page = "Index", ps = "id", search = "srch_str" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val());
        });
    });
    $(document).ready(function () {
        $("#pagination_previous").click(function () {
            window.location = '@Html.Raw(@Url.Action("Previous", "Home", new { page = "Index", ps = "id", search = "srch_str" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val());
        });
    });
    $(document).ready(function () {
        $("#pagination_next").click(function () {
            window.location = '@Html.Raw(@Url.Action("Next", "Home", new { page = "Index", ps = "id", search = "srch_str" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val());
        });
    });
    $(document).ready(function () {
        $("#pagination_last").click(function () {
            window.location = '@Html.Raw(@Url.Action("Last", "Home", new { page = "Index", ps = "id", search = "srch_str" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val());
        });
    });
</script>