@{
    ViewBag.Title = "MasterReportPDF";
    Layout = null;

}
@{

    var results = ViewBag.list;
    var results1 = ViewBag.list1;
    var results2 = ViewBag.list2;
    var results3 = ViewBag.list3;
    var results4 = ViewBag.list4;
    int? cnt = new int?();
    int? cnt1 = new int?();
    int? cnt2 = new int?();
    int? cnt3 = new int?();
    int? cnt4 = new int?();
    cnt = ViewBag.total;
    cnt1 = ViewBag.total1;
    cnt2 = ViewBag.total2;
    cnt3 = ViewBag.total3;
    cnt4 = ViewBag.total4;
    if (cnt == null)
    {
        cnt = 0;
    }
    if (cnt1 == null)
    {
        cnt1 = 0;
    }
    if (cnt2 == null)
    {
        cnt2 = 0;
    }
    if (cnt3 == null)
    {
        cnt3 = 0;
    }
    if (cnt4 == null)
    {
        cnt4 = 0;
    }
}

<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="~/Content/matrix-style.css" />
<link rel="stylesheet" href="~/Content/matrix-media.css" />
<link rel="stylesheet" href="~/Content/uniform.css" />
<link rel="stylesheet" href="~/Content/select2.css" />
<link href="~/fonts/gst_font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

<div id="content-header">
    <div id="breadcrumb"> <a href='@Url.Action("Index", "Home")' title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href='@Url.Action("DailyReportPDF", "Home")'>Master Report</a></div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-info-sign"></i> </span>
                    <h5>Master Report</h5>
                </div>
                <div>
                    <form method="post" action="@Url.Action("Generate_pdf", "Home")" name="basic_validate" id="basic_validate" novalidate="novalidate">
                        <div id="Grid">
                            <table cellpadding="2" cellspacing="1" border="1" width="100%">
                                <thead>
                                    <tr>
                                        <th colspan="8" align="center" valign="middle"> <p style="font-weight:bold;font-size:large;text-align:center">Site Report </p></th>
                                    </tr>
                                    <tr>
                                        <th colspan="4" align="left" valign="middle">
                                            Site Name:  @if (cnt > 0)
                                            {@results[29][0]}
                                        </th>
                                        <th colspan="2" align="left" valign="middle">
                                            Booking Date: @if (cnt > 0)
                                            {@results[5][0]}
                                        </th>
                                        <th colspan="2" align="left" valign="middle">
                                            Referenc By:@if (cnt > 0)
                                            {@results[1][0]}
                                        </th>
                                    </tr>
                                    <tr>
                                        <th colspan="4" align="left" valign="middle">
                                            Site Add:@if (cnt > 0)
                                            {@results[33][0]}
                                        </th>
                                        <th colspan="2" align="left" valign="middle">
                                            Booking NO:@if (cnt > 0)
                                            {@results[6][0]}
                                        </th>
                                        <th colspan="2" align="left" valign="middle">
                                            Follup Date:@if (cnt > 0)
                                            {@Convert.ToDateTime(results[8][0]).ToString("dd-MM-yyyy")}
                                        </th>
                                    </tr>
                                    <tr>
                                        <th colspan="4" align="left" valign="middle">
                                            Executive Name:@if (cnt1 > 0)
                                            {@results1[13][0]}
                                        </th>
                                        <th colspan="2" align="left" valign="middle">
                                            Incentive:@if (cnt1 > 0)
                                            {@results1[11][0]}
                                        </th>
                                        <th colspan="2" align="left" valign="middle">
                                            Incentive Amt:@if (cnt1 > 0)
                                            {@results1[6][0]}
                                        </th>
                                    </tr>
                                    <tr>
                                        <th colspan="4" align="left" valign="middle">
                                            Franchis Name:@if (cnt1 > 0)
                                            {@results1[10][0]}
                                        </th>
                                        <th colspan="2" align="left" valign="middle">Flat Status:</th>
                                        <th colspan="2" align="left" valign="middle">
                                            Cancel By:@if (cnt > 0)
                                            {@results[7][0]}
                                        </th>
                                    </tr>
                                    <tr>
                                        <th colspan="4" align="left" valign="middle">Applicant Details:</th>
                                        <th colspan="2" align="left" valign="middle">
                                            Flat:@if (cnt > 0)
                                            {@results[2][0]}
                                        </th>
                                        <th colspan="2" align="left" valign="middle">Floor:</th>
                                    </tr>
                                    <tr>
                                        <th colspan="4" align="left" valign="middle">
                                            Name:@if (cnt > 0)
                                            {@results[13][0]}
                                        </th>
                                        <th colspan="2" align="left" valign="middle">Area:</th>
                                        <th colspan="2" align="left" valign="middle">Type:</th>
                                    </tr>
                                    <tr>
                                        <th colspan="4" align="left" valign="middle">
                                            Address:@if (cnt > 0)
                                            {@results[17][0]}
                                        </th>
                                        <th colspan="2" align="left" valign="middle">
                                            Package:@if (cnt > 0)
                                            {@results[4][0]}
                                        </th>
                                        <th colspan="2" align="left" valign="middle">
                                            Wing:@if (cnt > 0)
                                            {@results[17][0]}
                                        </th>
                                    </tr>
                                    <tr>
                                        <th colspan="2" align="left" valign="middle">
                                            Mobile No:@if (cnt > 0)
                                            {@results[16][0]}
                                        </th>
                                        <th colspan="2" align="left" valign="middle">
                                            DOB:@if (cnt > 0)
                                            {@Convert.ToDateTime(results[21][0]).ToString("dd-MM-yyyy")}
                                        </th>
                                        <th colspan="2" align="left" valign="middle">
                                            Total Received:@if (cnt > 0)
                                            {@results[11][0]}
                                        </th>
                                        <th colspan="2" align="left" valign="middle">
                                            Remaining Amount:@if (cnt > 0)
                                            {@results[17][0]}
                                        </th>
                                    </tr>
                                    <tr>
                                        <th colspan="2" align="left" valign="middle">
                                            PAN NO:@if (cnt > 0)
                                            {@results[18][0]}
                                        </th>
                                        <th colspan="2" align="left" valign="middle">
                                            AADHAR No:@if (cnt > 0)
                                            {@results[19][0]}
                                        </th>
                                        <th colspan="2" align="left" valign="middle">
                                            Reserved Parking:@if (cnt > 0)
                                            {@results[9][0]}
                                        </th>
                                        <th colspan="2" align="left" valign="middle">Internal Charges:@results[10][0]</th>
                                    </tr>
                                    <tr>
                                        <th colspan="2" align="left" valign="middle">
                                            EMAIL:@if (cnt > 0)
                                            {@results[15][0]}
                                        </th>
                                        <th colspan="2" align="left" valign="middle">
                                            Occupation:@if (cnt > 0)
                                            {@results[20][0]}
                                        </th>
                                        <th colspan="2" align="left" valign="middle">
                                            Agreement Done:@if (cnt > 0)
                                            {@results[39][0]}
                                        </th>
                                        <th colspan="2" align="left" valign="middle">
                                            Agreement Date:@if (cnt > 0)
                                            {@Convert.ToDateTime(results[38][0]).ToString("dd-MM-yyyy")}
                                        </th>
                                    </tr>
                                    <tr>
                                        <th colspan="4" align="left" valign="middle">
                                            CO Applicant Name:@if (cnt > 0)
                                            {@results[17][0]}
                                        </th>
                                        <th colspan="2" align="left" valign="middle">
                                            Agreement No:@if (cnt > 0)
                                            {@results[37][0]}
                                        </th>
                                        <th colspan="2" align="left" valign="middle">
                                            Agreement Amt:@if (cnt > 0)
                                            {@results[44][0]}
                                        </th>
                                    </tr>
                                    <tr>
                                        <th colspan="2" align="left" valign="middle">
                                            CO App PAN:@if (cnt > 0)
                                            {@results[24][0]}
                                        </th>
                                        <th colspan="2" align="left" valign="middle">
                                            CO App AADHAR:@if (cnt > 0)
                                            {@results[25][0]}
                                        </th>
                                        <th colspan="2" align="left" valign="middle">
                                            Agreement Cost:@if (cnt > 0)
                                            {@results[44][0]}
                                        </th>
                                        <th colspan="2" align="left" valign="middle">
                                            Adjust Amt:@if (cnt > 0)
                                            {@results[41][0]}
                                        </th>
                                    </tr>
                                    <tr>
                                        <th colspan="2" align="left" valign="middle">
                                            CO Occupation:@if (cnt > 0)
                                            {@results[26][0]}
                                        </th>
                                        <th colspan="2" align="left" valign="middle">
                                            DOB:@if (cnt > 0)
                                            {@results[27][0]}
                                        </th>
                                        <th colspan="2" align="left" valign="middle">
                                            Notary Amt:@if (cnt > 0)
                                            {@results[40][0]}
                                        </th>
                                        <th colspan="2" align="left" valign="middle">
                                            Extra Amt:@if (cnt > 0)
                                            {@results[42][0]}
                                        </th>
                                    </tr>
                                    <tr>
                                        <th colspan="2" align="left" valign="middle"></th>
                                        <th colspan="2" align="left" valign="middle">Master File charges</th>

                                    </tr>
                                    <tr>
                                        <th colspan="8" align="left" valign="middle">Finance Details</th>
                                    </tr>
                                    <tr>
                                        <th colspan="4" align="left" valign="middle">
                                            Finance:@if (cnt > 0)
                                            {@results[45][0]}
                                        </th>
                                        <th colspan="4" align="left" valign="middle">
                                            File handover Date:@if (cnt > 0)
                                            {@results[50][0]}
                                        </th>
                                    </tr>
                                    <tr>
                                        <th colspan="4" align="left" valign="middle">
                                            Finance Executive Name:@if (cnt > 0)
                                            {@results[47][0]}
                                        </th>
                                        <th colspan="4" align="left" valign="middle">
                                            Finance Exe Mob No:@if (cnt > 0)
                                            {@results[48][0]}
                                        </th>
                                    </tr>
                                    <tr>
                                        <th colspan="4" align="left" valign="middle">
                                            File Status:@if (cnt > 0)
                                            {@results[51][0]}
                                        </th>
                                        <th colspan="4" align="left" valign="middle">
                                            Sanction Date:@if (cnt > 0)
                                            {@results[56][0]}
                                        </th>
                                    </tr>
                                    <tr>
                                        <th colspan="4" align="left" valign="middle">
                                            Required Loan Amt:@if (cnt > 0)
                                            {@results[52][0]}
                                        </th>
                                        <th colspan="4" align="left" valign="middle">
                                            Disbursement Amt:@if (cnt > 0)
                                            {@results[55][0]}
                                        </th>
                                    </tr>
                                    <tr>
                                        <th colspan="4" align="left" valign="middle">
                                            Sanction Loan Amt:@if (cnt > 0)
                                            {@results[54][0]}
                                        </th>
                                        <th colspan="4" align="left" valign="middle">
                                            Received DD Amount:@if (cnt > 0)
                                            {@results[57][0]}
                                        </th>
                                    </tr>
                                    <tr>
                                        <th colspan="4" align="left" valign="middle">
                                            Actual Loan Amt:@if (cnt > 0)
                                            {@results[56][0]}
                                        </th>
                                        <th colspan="4" align="left" valign="middle">
                                            Remaining DD Amt:@if (cnt > 0)
                                            {@results[58][0]}
                                        </th>
                                    </tr>
                                    <tr>
                                        <th colspan="4" align="left" valign="middle">
                                            Rate Of Intereset:@if (cnt > 0)
                                            {@results[59][0]}
                                        </th>
                                        <th colspan="2" align="left" valign="middle">
                                            EMI Amount:@if (cnt > 0)
                                            {@results[60][0]}
                                        </th>
                                        <th colspan="2" align="left" valign="middle">
                                            EMI Months:@if (cnt > 0)
                                            {@results[61][0]}
                                        </th>
                                    </tr>
                                    <tr>
                                        <th colspan="8" align="center" valign="middle">Payment Commitment</th>
                                    </tr>
                                    <tr>
                                        <th colspan="4" align="left" valign="middle">Date:</th>
                                        <th colspan="2" align="left" valign="middle">Commitment Type:</th>
                                        <th colspan="2" align="left" valign="middle">Amount:</th>
                                    </tr>
                                    @for (var i = 0; i < cnt2; i++)
                                    {
                                        <tr>

                                            {
                                            <th colspan="4" align="left" valign="middle">@Convert.ToDateTime(results2[1][0]).ToString("dd-MM-yyyy")</th>
                                            <th colspan="2" align="left" valign="middle">@results2[2][0]</th>
                                            <th colspan="2" align="left" valign="middle">@results2[4][0]</th>


                                        </tr>
                                    }
                                    <tr>
                                        <th colspan="8" align="center" valign="middle">Payment Details</th>
                                    <tr>
                                        <th colspan="1" align="left" valign="middle">Date</th>
                                        <th colspan="1" align="left" valign="middle">Amount</th>
                                        <th colspan="1" align="left" valign="middle">Payment Mode</th>
                                        <th colspan="1" align="left" valign="middle">Cheque Date</th>
                                        <th colspan="1" align="left" valign="middle">Bank Name</th>
                                        <th colspan="1" align="left" valign="middle">Payment Type</th>
                                        <th colspan="1" align="left" valign="middle">Builder Pay</th>
                                        <th colspan="1" align="left" valign="middle">Bank Pay</th>
                                    </tr>
                                    @for (var i = 0; i < cnt3; i++)
                                    {
                                        <tr>
                                            <th colspan="1" align="left" valign="middle">@Convert.ToDateTime(results3[0][0]).ToString("dd-MM-yyyy")</th>
                                            <th colspan="1" align="left" valign="middle">@results3[1][0]</th>
                                            <th colspan="1" align="left" valign="middle">@results3[2][0]</th>
                                            <th colspan="1" align="left" valign="middle">@Convert.ToDateTime(results3[3][0]).ToString("dd-MM-yyyy")</th>
                                            <th colspan="1" align="left" valign="middle">@results3[4][0]</th>
                                            <th colspan="1" align="left" valign="middle">@results3[5][0]</th>
                                            <th colspan="1" align="left" valign="middle">@results3[6][0]</th>
                                            <th colspan="1" align="left" valign="middle">@results3[7][0]</th>
                                        </tr>
                                    }
                                        <tr>
                                            <th colspan="8" align="center" valign="middle">File Process:</th>
                                        <tr>
                                            <th colspan="1" align="left" valign="middle">Date</th>
                                            <th colspan="1" align="left" valign="middle">Service Charge</th>
                                            <th colspan="1" align="left" valign="middle">Loan Fees Amt</th>
                                            <th colspan="1" align="left" valign="middle">Cheque/Cash</th>
                                            <th colspan="1" align="left" valign="middle">Cheque Date</th>
                                            <th colspan="1" align="left" valign="middle">Bank Name</th>
                                            <th colspan="1" align="left" valign="middle">Loan Fees</th>
                                            <th colspan="1" align="left" valign="middle">Status</th>
                                        </tr>
                                    </thead>
                                <tbody>
                                    @for (var i = 0; i < cnt4; i++)
                                    {
                                        <tr>
                                            <td>@Convert.ToDateTime(results4[9][0]).ToString("dd-MM-yyyy")</td>
                                            <td>@results4[1][0]</td>
                                            <td>@results4[2][0]</td>
                                            <td>@results4[3][0]</td>
                                            <td>@Convert.ToDateTime(results4[4][0]).ToString("dd-MM-yyyy")</td>
                                            <td>@results4[5][0]</td>
                                            <td>@results4[6][0]</td>
                                            <td>@results4[7][0]</td>
                                        </tr>
                                    }
                                    </tbody>
                            </table>

                            <input type="hidden" name="GridHtml" />
                            <input type="submit" id="btnSubmit" value="Generate pdf" class="btn btn-success" />

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery.ui.custom.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/matrix.popover.js"></script>
<script src="~/Scripts/jquery.uniform.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/matrix.js"></script>
<script src="~/Scripts/matrix.tables.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/matrix.form_validation.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            $("input[name='GridHtml']").val($("#Grid").html());
        });
    });
</script>


