
@{
    ViewBag.Title = "SiteVisit";
}

@{
    var results = ViewBag.list;
    int? cnt = new int?();
    cnt = ViewBag.total;
    if (cnt == null)
    {
        cnt = 0;
    }
    int? sz = new int?();
    sz = ViewBag.pageSize;
    if (sz == null)
    {
        sz = 10;
    }
    var elist = ViewBag.edit_list;
    bool edit = false;
    if (ViewBag.edit_str == "edit")
    {
        edit = true;
    }
}

<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="~/Content/matrix-style.css" />
<link rel="stylesheet" href="~/Content/matrix-media.css" />
<link rel="stylesheet" href="~/Content/uniform.css" />
<link rel="stylesheet" href="~/Content/select2.css" />
<link href="~/fonts/gst_font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

<div id="content-header">
    <div id="breadcrumb"> <a href='@Url.Action("Index", "Home")' title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href='@Url.Action("SiteVisit", "Home")'>Site Visit</a></div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <!-- Site visit details-->
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-info-sign"></i> </span>
                    <h5>Site Visit Details</h5>
                </div>
                <div class="widget-content nopadding">
                    <form method="post" action="@Url.Action("add_de_sitevisit", "Home")" name="basic_validate" id="basic_validate" novalidate="novalidate">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td><label class="control-label">Customer Name</label></td>
                                    <td>
                                        <select name="enqnamevisit" id="enqnamevisit">    </select>
                                    </td>
                                    <td><label class="control-label">Site Name</label></td>
                                    <td>
                                        <select name="enqsitename" id="enqsitename">    </select>
                                    </td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Flat/Plot No</label></td>
                                    <td width="200">
                                        <select name="enqflatno" id="enqflatno">    </select>
                                    </td>
                                    <td><label class="control-label">Executive1 Name</label></td>
                                    <td>
                                        <select name="enqexename1" id="enqexename1">  </select>
                                    </td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td><label class="control-label">Executive2 Name</label></td>
                                    <td>
                                        <select name="enqexename2" id="enqexename2">  </select>
                                    </td>
                                    <td><label class="control-label">Executive3 Name</label></td>
                                    <td>
                                        <select name="enqexename3" id="enqexename3">  </select>
                                    </td>
                                </tr>
                                <tr class="odd gradeX">
                                    @if (edit)
                                    {
                                        <td><input type="submit" name="submit_btn" value="Update" class="btn btn-success" /></td>
                                        <td colspan="3"> <input type="submit" name="submit_btn" value="Cancel" class="btn btn-danger" /> </td>
                                        <td> <input type="hidden" name="edit_id" value=@elist[0] /> </td>
                                    }
                                    else
                                    {
                                        <td><input type="submit" name="submit_btn" value="Save" class="btn btn-success" /></td>
                                        <td colspan="3"> <input type="reset" value="Cancel" class="btn btn-danger" /> </td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>

            <!--All Result details-->
            @if (!edit)
            {
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-th"></i></span>
                        <h5>All Site Visit Details</h5>
                    </div>
                    <div class="widget-content nopadding">
                        @Html.Partial("page_size")
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Customer Name</th>
                                    <th>Site Name</th>
                                    <th>Requirement</th>
                                    <th>Flat</th>
                                    <th>Executive1</th>
                                    <th>Executive2</th>
                                    <th>Executive3</th>
                                    @if (this.Session["role"].ToString() == "admin")
                                    {
                                        <th>Modify</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @for (var i = 0; i < cnt; i++)
                                {
                                    <tr class="gradeX">
                                        <td>@results[0][i]</td>
                                        <td>@results[7][i]</td>
                                        <td>@results[23][i]</td>
                                        <td>@results[12][i]</td>
                                        <td>@results[35][i]@results[31][i]</td>
                                        <td>@results[39][i]</td>
                                        <td>@results[48][i]</td>
                                        <td>@results[57][i]</td>
                                        @if (this.Session["role"].ToString() == "admin")
                                        {
                                            <td align="center">
                                                <button onclick="fun_edit(this);" value="@results[0][i]" class="btn btn-primary">Edit</button>
                                                <button onclick="fun_del(this);" value="@results[0][i]" class="btn btn-danger">Delete</button>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    @Html.Partial("pagination")
                </div>
            }
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery.ui.custom.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/matrix.popover.js"></script>
<script src="~/Scripts/jquery.uniform.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/matrix.js"></script>
<script src="~/Scripts/matrix.tables.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/matrix.form_validation.js"></script>

<script type="text/javascript">
    function fun_del(obj)
    {
        if (confirm('Are you sure you want to delete this record?'))
        {
            window.location = '@Html.Raw(@Url.Action("delete_record", "Home", new { page = "SiteVisit", ps = "id", search = "srch_str", del_id = "delid" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val()).replace("delid", obj.value);
        }
    }

    function fun_edit(obj)
    {
        window.location = '@Html.Raw(@Url.Action("edit_record", "Home", new { page = "SiteVisit", ps = "id", search = "srch_str", edit_id = "editid" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val()).replace("editid", obj.value);
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#page_size").change(function () {
            window.location = '@Html.Raw(@Url.Action("SiteVisit", "Home", new { ps = "id", search = "srch_str" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val());
        });
    });

    $(document).ready(function () {
        $("#search1").keydown(function (event) {
            if (event.keyCode == 13) {
                window.location = '@Html.Raw(@Url.Action("SiteVisit", "Home", new { ps = "id", search = "srch_str" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val());
            }
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: '@Url.Action("get_daily_customer_name", "Home")',
            data: {},
            dataType: 'json',
            success: function (d) {
                var list1 = d.id;
                var list = d.name;
                $("#enqnamevisit").html("");
                $.each(list, function (index, value) {
                    $("#enqnamevisit").append($('<option></option>').val(list1[index]).html(value));
                });
                document.getElementById("enqnamevisit").value = @(edit ? elist[1] : 1);
            },
            error: function (err) {
                alert(err.responseText);
            },
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: '@Url.Action("get_site", "Home")',
            data: {},
            dataType: 'json',
            success: function (d) {
                var list1 = d.id;
                var list = d.name;

                $("#enqsitename").html("");
                $.each(list, function (index, value) {
                    $("#enqsitename").append($('<option></option>').val(list1[index]).html(value));
                });
                @if (edit) {
                    <text> document.getElementById("enqsitename").value = @(edit ? elist[2] : 1); </text>
                }
                else {
                    <text> document.getElementById("enqsitename").selectedIndex = "0"; </text>
                }
                flat($('#enqsitename').val());
            },
            error: function (err) {
                alert(err.responseText);
            },
        });
    });

    function flat(wing_id)
    {
        var data = JSON.stringify({
            'site_id': wing_id
        });

        $.ajax({
            type: "POST",
            url: '@Url.Action("get_flat_no", "Home")',
            data: data,
            dataType: 'json',
            success: function (d) {
                var list1 = d.id;
                var list = d.name;
                var list2 = d.wing;
                var text = "";
                $("#enqflatno").html("");
                $.each(list, function (index, value) {
                    text = list2[index] + value;
                    $("#enqflatno").append($('<option></option>').val(list1[index]).html(text));
                });
                @if (edit) {
                    <text> document.getElementById("enqflatno").value = @(edit ? elist[4] : 1); </text>
                }
                else {
                    <text> document.getElementById("enqflatno").selectedIndex = "0"; </text>
                }
            },
            error: function (err) {
                alert(err.responseText);
            },
            contentType: 'application/json'
        });
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: '@Url.Action("get_executive", "Home")',
            data: {},
            dataType: 'json',
            success: function (d) {
                var list1 = d.id;
                var list = d.name;
                
                $("#enqexename1").html("");
                $("#enqexename2").html("");
                $("#enqexename3").html("");

                $.each(list, function (index, value) {
                    $("#enqexename1").append($('<option></option>').val(list1[index]).html(value));
                    $("#enqexename2").append($('<option></option>').val(list1[index]).html(value));
                    $("#enqexename3").append($('<option></option>').val(list1[index]).html(value));
                });                                
                @if (edit) {
                    <text>
                        document.getElementById("enqexename1").value = @(edit ? elist[5] : 1);
                        document.getElementById("enqexename2").value = @(edit ? elist[6] : 1);
                        document.getElementById("enqexename3").value = @(edit ? elist[7] : 1);
                    </text>
                }
                else {
                    <text>
                        document.getElementById("enqexename1").value = @(edit ? elist[5] : 1);
                        document.getElementById("enqexename2").value = @(edit ? elist[6] : 1);
                        document.getElementById("enqexename3").value = @(edit ? elist[7] : 1);
                    </text>
                }
            },
            error: function (err) {
                alert(err.responseText);
            },
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#enqsitename').change(function () {
            flat($('#enqsitename').val());
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#pagination_first").click(function () {
            window.location = '@Html.Raw(@Url.Action("First", "Home", new { page = "SiteVisit", ps = "id", search = "srch_str" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val());
        });
    });
    $(document).ready(function () {
        $("#pagination_previous").click(function () {
            window.location = '@Html.Raw(@Url.Action("Previous", "Home", new { page = "SiteVisit", ps = "id", search = "srch_str" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val());
        });
    });
    $(document).ready(function () {
        $("#pagination_next").click(function () {
            window.location = '@Html.Raw(@Url.Action("Next", "Home", new { page = "SiteVisit", ps = "id", search = "srch_str" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val());
        });
    });
    $(document).ready(function () {
        $("#pagination_last").click(function () {
            window.location = '@Html.Raw(@Url.Action("Last", "Home", new { page = "SiteVisit", ps = "id", search = "srch_str" }))'.replace("id", $("#page_size option:selected").text()).replace("srch_str", $('input:text[name=search]').val());
        });
    });
</script>

@{
    var message = TempData["AlertMessage"] ?? string.Empty;
}
<script type="text/javascript">
    var message = '@message';
    if(message)
        alert(message);
</script>